{# navigace další předchozí #}
{% set iconSize = "" %}
{% set prevMessage = " Předchozí" %}
{% set nextMessage = " Další" %}
{% set parentMessage = " Nahoru" %}
{% set prevDirection = "text-left" %}
{% set nextDirection = "text-right" %}
{% if navPosition == "top" %}
    {% set iconSize = "fa-2x " %}
    {% set prevMessage = "" %}
    {% set nextMessage = "" %}
    {% set parentMessage = "" %}
    {% set prevDirection = "text-right" %}
    {% set nextDirection = "text-left" %}
{% endif %}

<nav class="row">
    <div class="columns small-4 {{prevDirection}}">
        {% if entry.prevSibling %}<a href="{{ entry.prevSibling.url }}"><i class="fa {{iconSize}}fa-arrow-left"></i>{{ prevMessage }}</a>{% endif %}
    </div>

    <div class="columns small-4 text-center">
        {% if entry.getAncestors(1)|length>0 %}<a href="{{entry.getAncestors(1).first.url}}"><i class="fa {{iconSize}}fa-arrow-up"></i>{{ parentMessage }}</a>{% endif %}
    </div>

    <div class="columns small-4 {{nextDirection}}">
        {% if entry.nextSibling %}<a href="{{ entry.nextSibling.url }}"><i class="fa {{iconSize}}fa-arrow-right"></i>{{ nextMessage }}</a>{% endif %}
    </div>
</nav>
