{# navigace další předchozí #}
{% set iconSize = "" %}
{% set prevMessage = " Předchozí" %}
{% set nextMessage = " Další" %}
{% if not parentMessage %}{% set parentMessage = " Nahoru" %}{% endif %}
{% set prevDirection = "text-left" %}
{% set nextDirection = "text-right" %}
{% set cols = "columns small-4 f-800 f-l" %}
{% set rowclass = "row mm-inverted-link-colors mm-link-notunderline" %}

{% if navPosition == "top" %}

    {% set iconSize = "f-xxl f-600" %}
    {% set prevMessage = "" %}
    {% set nextMessage = "" %}
    {% set parentMessage = "" %}
    {% set prevDirection = "text-right" %}
    {% set nextDirection = "text-left" %}
    {% set cols = "columns small-4" %}
    {% set rowclass = "row mm-inverted-link-colors mm-link-notunderline" %}

{% endif %}

<nav class="{{rowclass}}">
    <div class="{{cols}} {{prevDirection}}">
        {% if prevlink %}<a href="{{ prevlink }}" alt="{{ prevtitle }}" title ="{{ prevtitle }}">
        <span class="{{iconSize}} f-headline">&larr;</span>{% if navPosition == "bottom" %}{{ prevMessage }}{% endif %}
        </a>{% endif %}
    </div>

    <div class="{{cols}} text-center">
        {% if uplink %}
            <a href="{{ uplink }}" alt="{{ uptitle }}" title="{{ uptitle }}">
            {% if parentType == "default" %}
                <span class="{{iconSize}} f-headline">&uparrow;</span>
            {% endif %}
            {% if navPosition == "bottom" %}
                {{ parentMessage }}
            {% endif %}
            </a>
        {% else %}
            {% if parentType == "default" %}
                <span class="{{iconSize}} f-headline">&uarr;</span>
            {% endif %}
            {% if navPosition == "bottom" %}
                {{ parentMessage }}
            {% endif %}
        {% endif%}
    </div>

    <div class="{{cols}} {{nextDirection}}">
        {% if nextlink %}<a href="{{ nextlink }}" alt="{{ nexttitle }}" title="{{ nexttitle }}">
            <span class="{{iconSize}} f-headline">&rarr;</span>{% if navPosition == "bottom" %}{{ nextMessage }}{% endif %}
        </a>{% endif %}
    </div>
</nav>
