{% set showItems = true %}
{% if entry.id == 5 %}
    {% set showItems = false %}
{% elseif entry.getAncestors()|length > 0 %}
    {% if entry.getAncestors().first.id == 5 %}
        {% set showItems = false %}
    {% endif %}
{% endif %}
<div class="row">
    <div class="columns small-12 ">
        <div class="menu-subsections bg-grey-light  mm-pad-bottom-half mm-pad-top-half">
            <h3 class="f-xl f-800 mm-pad-half f-up">Katalog - podstránky</h3>
            {% for subsection in entry.descendants(1) %}
                <div class="menu-item" {% if subsection.body is empty %} class="emtpy-content" {% endif %}>
                    <a class="title" href="{{ subsection.url }}" title="{{ subsection.title }}">{{ subsection.title }}</a>

                    <a class="icon" href="{{ subsection.url }}" title="{{ subsection.title }}">&rarr;</a>
                    {% if showItems %}
                    <a class="icon" href="/polozky?cat={{ subsection.title }}"><i class="fa fa-list"></i></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
