{% if entry.schemata %}
{% for schema in entry.schemata %}
<div class="schema bg-grey-light mm-pad-top-half mm-pad-bottom-half">
    <div class="row">
        <div class="column small-12">
            <h2 class="f-xl f-800 mm-pad-bottom-half">{{ schema.schemaTitle }}</h2>
        </div>
    </div>
    <div class="row">
        {% if schema.schemaImage|length>0%}
            {% if schema.schemaImage.first.width > schema.schemaImage.first.height %}
            <div>
                <div class="columns small-12">
                    <img src="/{{ schema.schemaImage.first.getUrl() }}">
                </div>
                <div class="columns small-6">
                    {{ schema.schemaDescription }}
                </div>
                <div class="columns small-6">
                    {{ schema.schemaNote }}
                </div>
            </div>

            {% else %}
            <div>
                <div class="columns small-6">
                    {{ schema.schemaDescription }}
                    {{ schema.schemaNote }}
                </div>
                <div class="columns small-6">
                    <img src="/{{ schema.schemaImage.first.getUrl() }}">
                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}
