<header>

    {% set headerType = entry.headerType %}
    {% if entry.uvodniObrazek|length < 1 %}
        {% set headerType = "default" %}
    {% endif %}

    {# default header #}
    {% if headerType == 'hero' %}

        {% if entry.uvodniObrazek|length > 0 %}
        {% set entryImage = entry.uvodniObrazek.first %}

        <div class="m-header--bgimage" style="height:500px; background-image: url('{{ entry.uvodniObrazek.first.getUrl('fullPage') }}')">
            {% if entry.productPhotogallery|length > 0 %}
                <div class="button big m-header-image--button" gallery-open-first><i class="fa fa-2x fa-image"></i><span>Fotogalerie</span></div>
            {% endif %}
        </div>
        {% endif %}

        <div class="row mm-pad-top mm-pad-bottom">

            <div class="small-12 medium-6 columns mm-negative-offset">
                <h1 class="f-xxl">{{ entry.title }}
                    {% if entry.isEditable() %}
                        <a href="{{ entry.cpEditUrl }}" title="Editovat stránku" alt="Editace stránky"><i class="fa f-xl fa-pencil"></i></a>
                    {% endif %}
                </h1>
                <div><strong>Revize:</strong> {{ entry.dateUpdated|date("d.F Y") }}</div>
                {% if entry.section == "Položky" %}
                    {% include "/_partials/obsah/_obsah-header-meta.twig" %}
                {% endif %}
            </div>

            {# pravy sloupec #}
            <div class="small-12 medium-6 columns"></div>

        </div>
    {% endif %}

    {# default header #}

    {% if headerType == 'default' %}
        <div class="row mm-pad-top mm-pad-bottom">

            <div class="small-12 medium-6 columns">
                <h1 class="f-xxl">{{ entry.title }}
                    {% if entry.isEditable() %}
                        <a href="{{ entry.cpEditUrl }}" title="Editovat stránku" alt="Editace stránky"><i class="fa f-xl fa-pencil"></i></a>
                    {% endif %}
                </h1>
                <div><strong>Revize:</strong> {{ entry.dateUpdated|date("d.F Y") }}</div>
                {% if entry.section == "Položky" %}
                    {% include "/_partials/obsah/_obsah-header-meta.twig" %}
                {% endif %}
            </div>

            {% if entry.uvodniObrazek|length > 0 %}
                <div class="small-12 medium-6 columns">
                    <div class="m-header-image">
                        <img src="{{ entry.uvodniObrazek.first.getUrl('headerHalfImage') }}">
                        {% if entry.productPhotogallery|length > 0 %}
                            <div class="button big m-header-image--button" gallery-open-first><i class="fa fa-2x fa-image"></i></div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>
    {% endif %}

</header>
