{# taby #}

<div class="m-tabs mm-mgr-top">

    <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active">
            <a href="#panel1" aria-selected="true"><i class="fa fa-random"></i> Oznámení</a></li>
        <li class="tabs-title"><a href="#panel2"><i class="fa fa-random"></i> FAQ</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="example-tabs">

        <div class="tabs-panel mm-pad-bottom mm-pad-top is-active" id="panel1">

            <div class="row align-center">

                <div class="columns small-4">
                    <h3 class="f-xl f-800">Oznámení</h3>
                </div>

                <div class="columns small-6">
                    {% if currentUser.isInGroup("users") %}
                        {% set entries = craft.entries.section('oznameni').search('forEditors:unchecked').limit(10) %}
                    {% else %}
                        {% set entries = craft.entries.section('oznameni').limit(10) %}
                    {% endif %}
                    {% for entry in entries %}
                        {% if entry.forEditors and currentUser.groups != "users" %}
                        <article class=" mm-pad-bottom-half mm-pad-bottom-half">
                            <div class="row">
                                <div class="column small-3">
                                    <div class="f-400 f-xs">{{ entry.postDate|date('d. F Y') }}</div>
                                </div>
                                <div class="columns small-9">
                                    <h1 class="f-400 f-m"><a href="{{ entry.url }}">{{ entry.title }}</a>*</h1>
                                </div>
                            </div>
                        </article>
                        {% else %}
                        <article class=" mm-pad-bottom-half mm-pad-bottom-half">
                            <div class="row">
                                <div class="column small-3">
                                    <div class="f-400 f-xs">{{ entry.postDate|date('d. F Y') }}</div>
                                </div>
                                <div class="columns small-9">
                                    <h1 class="f-400 f-m"><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
                                </div>
                            </div>
                        </article>
                        {% endif %}
                    {% else %}
                        <p>Sekce OZNÁMENÍ je zatím prázdná.</p>
                    {% endfor %}

                    <div class="row">
                        <div class="column small-3"></div>
                        <div class="columns small-9">
                            <h3 class="f-800 f-xl c-primary-dark mm-link-notunderline mm-inverted-link-colors"><a href="/oznameni">Archiv oznámení &rarr;</a></h3>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="tabs-panel mm-pad-bottom mm-pad-top" id="panel2">
            <div class="row align-center">
                <div class="columns small-4">
                    <h3 class="f-xl f-800">FAQ</h3>
                </div>
                <div class="columns small-6">
                    {% if currentUser.isInGroup("users") %}
                        {% set faqs = craft.entries.id(257).search('forEditors:unchecked').limit(10) %}
                    {% else %}
                        {% set faqs = craft.entries.id(257).limit(10) %}
                    {% endif %}

                    {% if faqs %}
                    {% for entry in faqs.children %}
                        {% if entry.forEditors and currentUser.groups != "users " %}
                        <article class=" mm-pad-bottom-half mm-pad-bottom-half">
                            <div class="row">
                                <div class="column small-3">
                                    <div class="f-400 f-xs">{{ entry.postDate|date('d. F Y') }}</div>
                                </div>
                                <div class="columns small-9">
                                    <h1 class="f-400 f-m"><a href="{{ entry.url }}">{{ entry.title }}</a>*</h1>
                                </div>
                            </div>
                        </article>
                        {% else %}
                        <article class=" mm-pad-bottom-half mm-pad-bottom-half">
                            <div class="row">
                                <div class="column small-3">
                                    <div class="f-400 f-xs">{{ entry.postDate|date('d. F Y') }}</div>
                                </div>
                                <div class="columns small-9">
                                    <h1 class="f-400 f-m"><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
                                </div>
                            </div>
                        </article>
                        {% endif %}
                    {% else %}
                        <p>Sekce FAQ je zatím prázdná.</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>


        </div>

    </div>
</div>
