{% extends "/_partials/layout/_base.twig" %}

{% block bars %}
	{% include "/_partials/base/_top-title-bar.twig" %}
	{% include "/_partials/base/_top-bar.twig" %}
{% endblock %}

{% block content %}

	{# {% include '/_partials/base/_top-breadcrumbs.twig' with {'class': 'mm-over'} %} #}
	{% set entries = craft.entries.section('polozky') %}

	{# TODO: udělat markup - výpis položek #}

	{% for entry in entries %}
	<article>
		{% if entry.uvodniObrazek %}
			{% for i in entry.uvodniObrazek %}<img src="{{ i.getUrl('thumb') }}" style="float:left;">{% endfor %}
		{% endif %}
		<h1><a href="{{entry.url}}">{{entry.Title}}</a></h1>
		<span>{{entry.poznamka}}</span><br>
		<span>{{entry.katalogoveCislo}}</span><br>

		{# TODO: udělat výpis taxonomie a prioritni taxonomie s rozměry #}
	</article>
	{% else %}
	<span>Tady nejsou žádné položky!</span>
	{% endfor %}

	{% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}

{% block scripts %}{% endblock %}
