<div style="background-image: url(/template/assets/metal-construction-profiles-01.jpg)" class="m-header" mod-screen-height>

    <div class="row align-middle mm-pad-top">
        <div class="columns small-5 small-offset-1">
            <img src="/template/assets/logo-koma-modular.svg" alt="">
        </div>
        <div class="columns small-5 small-pull-2">
                {# TODO: Mich- dodělat dropdown na jazyky #}
                <ul class="dropdown menu menu-language" data-dropdown-menu>
                    <li>
                        <a href="">Language <i class="fa fa-2x fa-angle-down" style="vertical-align: middle;"></i></a>
                        <ul class="menu">
                            <li><a href="#">Česky</a></li>
                            <li><a href="#">Anglicky</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>

    {#headline#}
    <div class="row align-center">
        <div class="small-8 columns text-center">
            <h1 class="f-xxl">{{ "Katalog technických řešení"|t }}</h1>
        </div>
    </div>


    {# form #}
    <form method="post" accept-charset="UTF-8">

        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/login">

        {# uživatelské jméno #}
        <div class="row align-center">
            <div class="small-10 medium-6 large-4 columns">
                <input id="loginName" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}" placeholder="{{ "Uživatelské jméno"|t }}" required>
            </div>
        </div>

        {# heslo #}
        <div class="row align-center">
            <div class="small-10 medium-6 large-4 columns">
                <input id="password" type="password" name="password" placeholder="{{ "Heslo"|t }}" required>
            </div>
        </div>

        {# souhlas #}

        <div class="row align-center align-middle mm-pad-bottom-half">
            <fieldset class="small-10 medium-6 large-4 columns text-center">
                {# TODO: změnit label checboxu na f-s (14px) a vertikálně center na čtvereček #}
                <input type="checkbox" name="rememberMe" value="1" id="rememeber"><label for="rememeber" style="vertical-align: top">Zapamatovat přihlášení</label>
            </fieldset>
        </div>

        <div class="row align-center">
            <div class="small-4 columns text-center">
                <input type="submit" value="Vstoupit" class="large button">
                {% if errorMessage is defined %}
                    <p class="m-header-errmsg f-m mm-pad-top-half">{{ errorMessage }}</p>
                {# TODO: lx- udělat formulář na zaslání hesla #}
                {% else %}
                    <p class="m-header-pwd f-xs mm-pad-top-half">
                        <a href="{{ url('forgotpassword') }}">{{ "Zapomněli jste své heslo?"|t }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </form>

    <div class="m-header-anchors">
        <div class="m-item">Další informace</div>
        <div class="m-item mm-button" scroll-top-offset><img src="/template/assets/circle-button-down.png" alt=""></div>
        <div class="m-item">Žádost o registraci</div>
    </div>

</div><a id="top-offset"></a>
