{#
 # Dokumentace detail
 # ------------------
 #
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

	{% include '/_partials/base/_top-breadcrumbs.twig' %}

    <article>
        <header class="mm-mgr-bottom">
            <div class="row align-bottom">

                <div class="columns small-8">
                    <h1 class="xxl">{{ entry.title }}
						{% if entry.isEditable() %}
	                        <a href="{{ entry.cpEditUrl }}" title="Editovat stránku" alt="Editace stránky"><i class="fa f-xl fa-pencil"></i></a>
	                    {% endif %}
					</h1>
                </div>

				<div class="columns small-3 small-offset-1">
					{% include '/_partials/common/_prevnext-nav.twig' with { "navPosition" : "top" } %}
				</div>

            </div>
        </header>


        <div class="row">
            <div class="columns small-12 large-9">
                <div class="row">
                    <div class="columns small-12">
                        <div class="m-body-copy"> {# tenhle wrapper sebou nese definici typografie pro detail#}

                            {# obsah - text #}

							{{ entry.docsBody }}

                            {# obsah - text - konec #}

                        </div>
                    </div>
                </div>
            </div>

            {# prava strana pouze pro large#}
            <div class="columns large-3  hide-for-small-only hide-for-medium-only">
                {# prava strana obsah #}


                {% import "_partials/macros/_macros.twig" as macros %}

                {# dát do samostatné podšablony #}
                <div class="m-dalsi  bg-grey-light">
                    <h2 class="f-xl f-800 mm-pad-bottom-half">Související články:</h2>
					{% if entry.getChildren|length > 0 %}
					{{ macros.listRelated( entry.getChildren(1) ) }}
					{% else %}
					{{ macros.listRelated( entry.getSiblings() ) }}
					{% endif %}
                </div>

                {# prava strana obsah - konec#}
            </div>
        </div>

    </article>


    {# sekce související #}

    <div class="m-section bg-grey-light mm-mgr-top mm-mgr-bottom-tiny">
        <div class="row">
            <div class="columns small-7 small-offset-1">


                {# tohle je stejný blok jako v pravé straně#}
				{# TODO: stejný blok jako napravo, měl by být vždy vidět ale jen jeden. na desktopu ten vpravo, na iPadu portrait jen ten dole, asi jasný, jen pro jistotu uvádím #}
                {# dát do samostatné podšablony #}
				{# NOTE: hodil jsem to do makra, wrappery jsou zde, neví, zda je to dle tebe dostačující #}
                <div class="m-dalsi">
                    <h2 class="f-xl f-800 mm-pad-bottom-half">Související články:</h2>
					{% if entry.getChildren|length > 0 %}
					{{ macros.listRelated( entry.getChildren(1) ) }}
					{% else %}
					{{ macros.listRelated( entry.getSiblings() ) }}
					{% endif %}
                </div>

            </div>
        </div>
    </div>

	<div class="bg-grey-light mm-pad-top mm-pad-bottom">
		{% include '/_partials/common/_prevnext-nav.twig' with { "navPosition" : "bottom" } %}
	</div>

{% endblock %}
