{% macro dimensions( hloubka, vnitrniVyska, vyska, sirka, showvv ) %}
<ul class="menu align-right dot-params">
    {% if hloubka %}<li><i title="Hloubka / délka" class="dot">H</i><span>{{ hloubka }} mm</span></li>{% endif %}
    {% if vnitrniVyska and showvv %}<li><i title="VnitřnívVýška" class="dot">V<sub>v</sub></i><span>{{ vnitrniVyska }}</span></li>{% endif %}
    {% if vyska %}<li><i title="Výška" class="dot">V</i><span>{{ vyska }} mm</span></li>{% endif %}
    {% if sirka %}<li><i title="Šířka" class="dot">Š</i><span>{{ sirka }} mm</span></li>{% endif %}
</ul>
{% endmacro %}

{% macro listRelated( related ) %}
<ul>
    {% for clanek in related %}
    <li><a href="{{clanek.url}}">{{clanek.title}}</a></li>
    {% endfor %}
</ul>
{% endmacro %}
