{# elementy pro modal katalogu #}
{# musí být nalinkován všude kde se má katalog otevírat #}

{# načtení dat katalogu #}
{% set pages = craft.entries.section('katalog') %}


{# html wrapper pro katalog#}
{#
<div class="drill-reveal" id="katalogModal">
    <div class="drill-wrapper">
        <div id="drill-down" class="drill-down">
            <div class="drill-controls">
                <div class="drill-back-button" drill-back="#drill-down">
                    <span class="drill-back-arrow"></span><span class="button">{{"Zpět"|t}}</span></div>
                <div class="drill-history"></div>
            </div>
        </div>
        <button class="close-button close-katalog" aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>
#}
{# konec wrapperu pro katalog #}


<script>

    {# build drilldown js inline config by twig #}

    {% cache globally for 1 hour %}
    /* ********************************************* */
    var drillDownData = [];
    drillDownData = [
        {% nav page in pages %}

            {% set hasBody = 0 %}

            {% if(page.body) %}
                {% set hasBody = 1 %}
            {% endif %}

            {% set itemsUrl = '/polozky' %}

            {# pokud nema přiřazené produky, netýká se struktury katalogu #}
            {% if page.getAncestors()|length > 0 %}
                {% if page.getAncestors().first.id == 5 %}
                    {% set itemsUrl = null %}
                {% endif %}
            {% elseif page.id == 5 %}
                {% set itemsUrl = null %}
            {% endif %}

        {
            title: '{{ page.title }}',
            url: '{{ page.url }}',
            itemsUrl: '{{ itemsUrl }}',
            hasContent: {{ hasBody }},
            childs: [
                {% ifchildren %}
                    {% children %}
                {% endifchildren %}
            ]
        },

        {% endnav %}
    ];
    /* ********************************************* */
    {# drilldown config end #}
    {% endcache %}



    $(function () {
        var opt = {
            selector: '#drill-down',
            rootLevelName: 'Katalog'
        };

        var drill = new DrillDown(drillDownData, opt);


        // otevirani modalu katalogu pres ID v menu
        $(".katalogmenu").on('click', function (e) {
            e.preventDefault();
            $('.drill-reveal').height($(window).innerHeight()).fadeIn(100);

            $(document).keyup(function (e) {
                if (e.keyCode == 13) $('.save').click();     // enter
                if (e.keyCode == 27) $('.cancel').click();   // esc
            });

            $(document).on('keyup', function (event) {
                $(document).off('keyup');
                e.preventDefault();
                $('.drill-reveal').fadeOut(100);
                $('html').removeClass('scroll-lock');
            });

            $('html').addClass('scroll-lock');

        });

        $(".close-katalog").each(function () {
            var el = $(this);
            $(document).off('keyup');
            el.on('click', function (e) {
                e.preventDefault();
                $('.drill-reveal').fadeOut(100);
                $('html').removeClass('scroll-lock');
            });
        });

    });


</script>
