<div class="off-canvas position-left mm-link-notunderline" id="offCanvasLeft" data-off-canvas>
    <div class="row off-canvas-header align-middle">
        <div class="column">KOMA Katalog</div>
        <div class="column shrink text-right">
            <button class="menu-icon" type="button" data-close="offCanvasLeft"></button>
        </div>
    </div>
    <div class="off-canvas-scroll-content">
        <div class="row ">
            <div class="column">

                {% for i in offCanvasMenu.menuItem %}

                    {% set id = '' %}
                    {% if i.menuID %}
                        {% set id = i.menuID %}
                    {% endif %}

                    {% set isDivider = '' %}
                    {% if i.menuDivider %}
                        {% set isDivider = 'is-section' %}
                    {% endif %}

                    {% if i.menuLink is empty %}
                        {% set menuLink = "#" %}
                        {% set disabled = "disabled" %}
                    {% else %}
                        {% set menuLink = i.menuLink %}
                        {% set disabled = "" %}
                    {% endif %}

                    <a class="row off-canvas-item {{ disabled }} {{ isDivider }} {{ id }}" href="{{ menuLink }}" data-close="offCanvasLeft">
                        <div class="small-2 column off-canvas-item--icon"><i class="{{ i.menuIcon.value }}"></i></div>
                        <div class="small-10 column">
                            <h3 class="off-canvas-item--headline">{{ i.menuTitle }}</h3>
                            <div>{{ i.menuDescription }}</div>
                        </div>
                    </a>

                {% endfor %}

            </div>
        </div>
    </div>

    <div class="row off-canvas-footer align-middle">
        <div class="column text-center"><i class="fa fa-paper-plane-o"></i>koma modular</div>
        <div class="column text-center">
            <a href="/" title="" data-close="offCanvasLeft"><i class="fa fa-paper-plane-o"></i>kontaktujte nás</a>
        </div>
    </div>

</div>
