{#
Breadrumbs
class:
    m-breadcrumbs
modifiers:
    mm-over - pruhledne přes obsah (absolutni pozice)
#}

{# TODO: přidat trigger pro modal katalogu i na drobeček "katalog" nebo musí drobeček vypsat tree katalogu a všechny položky (stylově jako výpis dokumentace.) #}

<nav aria-label="Jste zde:" role="navigation" class="m-breadcrumbs mm-link-notunderline {{ class|default('') }}">
    <ul class="breadcrumbs">
        <li><a href="{{ siteUrl }}">Úvod</a></li>
        <li><a href="{{ siteUrl }}{{entry.section.handle}}"{% if entry.section.handle == "katalog" %} class="katalogmenu"{% endif %}>{{entry.section}}</a></li>
        {% for crumb in entry.getAncestors() %}
            <li>{{ crumb.getLink() }}</li>
        {% endfor %}

        <li>{{ entry.title() }}</li>
    </ul>
</nav>
