<div id="widemenu" class="top-bar mm-link-notunderline">
    {# left #}
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-square has-border text-center">
                <button type="button" data-open="offCanvasLeft">
                    <img src="/template/assets/menu-burger.svg" alt="">
                </button>
            </li>

            <li class="menu-text has-border"><a href="{{ siteUrl }}" title="Úvodní strana" alt="Úvodní strana"><img src="/template/assets/logo-koma.svg" alt=""></a></li>

            {% for i in offCanvasMenu.menuItem|slice(0,3) %}

                {% set id = '' %}
                {% if i.menuID %}
                    {% set id = i.menuID %}
                {% endif %}

                {% if i.menuLink is empty %}
                    {% set menuLink = "#" %}
                    {% set class = "disabled" %}
                {% else %}
                    {% set menuLink = i.menuLink %}
                    {% set class = "" %}
                {% endif %}

                <li class="menu-text {{ class }}">
                    <a href="{{ menuLink }}" class="{{ class }} {{ id }}">
                        <i class="{{ i.menuIcon.value }}"></i>{{ i.menuTitle }}
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>
    {# right#}
    <div class="top-bar-right">
        <ul class="menu">
            <li class="menu-square has-border text-center"><a href="/admin"><i class="fa fa-2x fa-user"></i></a></li>
        </ul>
    </div>
</div>
