{#
 # Výsledky hledání
 # -------------------
 #
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

{% if craft.request.getParam('q') == "" %}

    <article>
        {# {% include "/_partials/obsah/_obsah-textpage-header.twig" %} #}
        <h1>Vyhledávání</h1>
        <div class="row mm-pad-bottom">

            <form action="{{ url('vyhledavani') }}">
                <input type="search" name="q" placeholder="Hledaný výraz">
                <input type="submit" value="Vyhledat">
            </form>

        </div>

    </article>

{% else %}

    <article>
        {# {% include "/_partials/obsah/_obsah-textpage-header.twig" %} #}

        <div class="row mm-pad-bottom">

            <h1>Výsledky hledání</h1>
            <a href="/vyhledavani" title="Zkusit hledat něco jiného" alt="Nové hledání">Nové hledání</a>

            {% set query = craft.request.getParam('q') %}
            {% set entries = craft.entries.search(query).order('score') %}

            {% if entries|length %}
                <p>{{ entries|length }} results:</p>

                <ul>
                    {% for entry in entries %}
                        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Hledání “{{ query }}” nemá žádné výsledky. Zkuste to nějak jinak.</p>
                <div class="row mm-pad-bottom">

                    <form action="{{ url('vyhledavani') }}">
                        <input type="search" name="q" placeholder="Search">
                        <input type="submit" value="Vyhledat">
                    </form>

                </div>
            {% endif %}

        </div>

    </article>

{% endif %}

    {% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
